{{ file_managed_by_ansible }}

### YOUR CHANGES WILL BE LOST!
# CIS 6.3

{{ deb12cis_aide_cron_minute }} {{ deb12cis_aide_cron_hour }} {{ deb12cis_aide_cron_month }} {{ deb12cis_aide_cron_weekday }} {{ deb12cis_aide_cron_job }}
