# File created for CIS benchmark
[Journal]

{% if deb12cis_rule_6_1_2_3 %}
# Set compress CIS rule 6_1_2_3
Compress=yes
{% endif %}

{% if deb12cis_rule_6_1_2_4 %}
# Set persistent storage CIS rule 6_1_2_4
Storage=persistent
{% endif %}
