---
# handlers file for DEB12-CIS

- name: Reload sysctl
  ansible.builtin.shell: sysctl --system

- name: Sysctl flush ipv4 route table
  when:
    - deb12cis_flush_ipv4_route
    - not system_is_container
  ansible.posix.sysctl:
    name: net.ipv4.route.flush
    value: '1'
    sysctl_set: true
  ignore_errors: true  # noqa ignore-errors

- name: Sysctl flush ipv6 route table
  when:
    - deb12cis_flush_ipv6_route
    - not system_is_container
  ansible.posix.sysctl:
    name: net.ipv6.route.flush
    value: '1'
    sysctl_set: true

- name: Systemd restart tmp.mount
  ansible.builtin.systemd:
    name: tmp.mount
    daemon_reload: true
    enabled: true
    masked: false
    state: reloaded

- name: Remount tmp
  ansible.posix.mount:
    path: /tmp
    state: remounted

- name: Restart timeservice
  ansible.builtin.systemd:
    name: "{{ deb12cis_time_sync_tool }}"
    state: restarted

- name: Restart firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: restarted

- name: Restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: Restart postfix
  ansible.builtin.systemd:
    name: postfix
    state: restarted

- name: Reload dconf
  ansible.builtin.shell: dconf update

- name: Update-grub
  ansible.builtin.shell: "update-grub"
  ignore_errors: true  # noqa ignore-errors

- name: Reload ufw
  community.general.ufw:
    state: reloaded

- name: Restart rsyslog
  ansible.builtin.systemd:
    name: rsyslog
    state: restarted

- name: Restart journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted

- name: Restart systemd_journal_upload
  ansible.builtin.systemd:
    name: systemd-journal-upload
    state: restarted

- name: Systemd daemon reload
  ansible.builtin.systemd:
    daemon-reload: true

- name: Pam_auth_update_pwunix
  ansible.builtin.shell: pam-auth-update --enable {{ deb12cis_pam_pwunix_file }}

- name: Pam_auth_update_pwfaillock
  ansible.builtin.shell: pam-auth-update --enable {{ deb12cis_pam_faillock_file }}

- name: Pam_auth_update_pwfaillock_notify
  ansible.builtin.shell: pam-auth-update --enable {{ deb12cis_pam_faillock_notify_file }}

- name: Pam_auth_update_pwquality
  ansible.builtin.shell: pam-auth-update --enable {{ deb12cis_pam_pwquality_file }}

- name: Pam_auth_update_pwhistory
  ansible.builtin.shell: pam-auth-update --enable {{ deb12cis_pam_pwhistory_file }}

## Auditd tasks note order for handlers to run

- name: Auditd immutable check
  ansible.builtin.shell: grep -c "^-e 2" /etc/audit/rules.d/99_auditd.rules
  changed_when: false
  register: auditd_immutable_check

- name: Audit immutable fact
  when:
    - auditd_immutable_check.stdout == '1'
  ansible.builtin.debug:
    msg: "Reboot required for auditd to apply new rules as immutable set"
  notify: Change_requires_reboot

- name: Restart auditd
  ansible.builtin.shell: service auditd restart

- name: Change_requires_reboot
  ansible.builtin.set_fact:
    change_requires_reboot: true
