# CIS Configurations
# 5.3.3.2.3 Ensure password complexity is configured
{% if deb12cis_passwd_complex_option == 'minclass' %}
minclass = {{ deb12cis_passwd_minclass }}
{% endif %}
{% if deb12cis_passwd_complex_option == 'credits' %}
dcredit = {{deb12cis_passwd_dcredit }}
ucredit = {{ deb12cis_passwd_ucredit }}
ocredit = {{ deb12cis_passwd_ocredit }}
lcredit = {{ deb12cis_passwd_lcredit }}
{% endif %}
