---

- name: "1.2.1.1 | AUDIT | Ensure GPG keys are configured"
  when:
    - deb12cis_rule_1_2_1_1
    - ansible_facts.distribution == "RedHat" or
      ansible_facts.distribution == "Rocky" or
      ansible_facts.distribution == "AlmaLinux"
  tags:
    - level1-server
    - level1-workstation
    - manual
    - patch
    - rule_1.2.1.1
    - NIST800-53R5_SI-2
  block:
    - name: "1.2.1.1 | AUDIT | Ensure GPG keys are configured | list installed pubkey keys"
      ansible.builtin.shell: "apt-key list"
      changed_when: false
      failed_when: false
      register: discovered_apt_keys

    - name: "1.2.1.1 | AUDIT | Ensure GPG keys are configured | Display key list"
      ansible.builtin.debug:
        msg:
          - "Warning!! Below are the apt gpg keys. Please review and make sure all align with site policy"
          - "{{ discovered_apt_keys.stdout_lines }}"

    - name: "1.2.1.1 | AUDIT | Ensure GPG keys are configured | Warn Count"
      ansible.builtin.import_tasks:
        file: warning_facts.yml

- name: "1.2.1.2 | AUDIT | Ensure package manager repositories are configured"
  when:
    - deb12cis_rule_1_2_1_2
  tags:
    - level1-server
    - level1-workstation
    - manual
    - audit
    - rule_1.2.1.2
    - NIST800-53R5_SI-2
  vars:
    warn_control_id: '1.2.1.2'
  block:
    - name: "1.2.1.2 | AUDIT | Ensure package manager repositories are configured | Get repo list"
      ansible.builtin.shell: apt-cache policy
      changed_when: false
      failed_when: false
      register: discovered_apt_config
      check_mode: false

    - name: "1.2.1.2 | AUDIT | Ensure package manager repositories are configured | Display repo list"
      ansible.builtin.debug:
        msg:
          - "Warning!! Below are the configured repos. Please review and make sure all align with site policy"
          - "{{ discovered_apt_config.stdout_lines }}"

    - name: "1.2.1.2 | AUDIT | Ensure package manager repositories are configured | Warn Count"
      ansible.builtin.import_tasks:
        file: warning_facts.yml
